<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php-7.2.2" />
            <add name="php-7.2.2" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\php7.2.2\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/" />
                <rewriteMap name="/login" />
            </rewriteMaps>
            <rules>
                <rule name="view" enabled="false">
                    <match url="(.*)" />
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="Imported Rule 1" stopProcessing="false">
                  <match url=".*" ignoreCase="false" />
                  <conditions>
                        <add input="{URL}" pattern="^/(media|skin|js|vendor)/" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{URL}" pattern="(\.js|\.css)" negate="true" />
                  </conditions>
                  <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="false">
                  <match url=".*" ignoreCase="false" />
                  <conditions>
                        <add input="{URL}" pattern="/(media|skin|js|vendor)/(.*)" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                  </conditions>
                  <action type="Rewrite" url="/{C:0}" />
                </rule>
            </rules>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
